*.pt
*~
*.safetensors
*.err
*.out
*.json
__pycache__/
#*
slurm_out/
ckpts/
logs/
hfized/
fast-hadamard-transform/build/
fast-hadamard-transform/dist/
report*.nsys-rep
report*.sqlite

tmp/
*.egg-info/
Llama-3.2-1B-Instruct-Hessians/